#background{
    color: white;
    /* Hide overflow on top */
    overflow: hidden;
    display: block;
    height: 500px;
}
#background video{
    width: 100%;
    /* height: 100%; */
    
    position: relative;
    /* Align video to bottom */
    top: 50%;
    transform: translateY(-50%);
    
}
#header{
    position: absolute;
    top: 0;
}
#header button{
    background-color: transparent;
    
    font-size: 20px;
    color: white;

    border: none;
    float: right;
    cursor:pointer;
  }
#content{
    position: absolute;
    top: 150px;
    padding-left: 20px;
}
#navigation button {
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
  
    /* Border */
    border: 1px solid black;
    border-color: white;
  
    /* Size */
    margin-right: 10px;
    margin-bottom: 5px;
  
    padding-left: 10px;
    padding-right: 10px;
  
    padding-top: 5px;
    padding-bottom: 5px;
}
#filter{
    background-color: Transparent;
    color: white;
    width: 300px;
}
#footer{
    position: absolute;
    top: 450px;
    right: 10px;    
}