<div id="background">
    <video autoplay muted>
        <source src="../../assets/videos/Background.mp4" type="video/mp4"> 
    </video>

    <!-- Header -->
    <div id="header" class="w3-bar">
        <h1 class="w3-bar-item">AccountBook</h1>
        <button class="w3-hover-opacity w3-bar-item" (click)="gotoStartSite()">Home ☰</button>
        <button class="w3-hover-opacity w3-bar-item" (click)="gotoLoginSite()" *ngIf="buttons.login">Login</button>
        <button class="w3-hover-opacity w3-bar-item" (click)="gotoAccountSite()" *ngIf="buttons.account">Account</button>
    </div>

    <!-- Content -->
    <div id="content" class="w3-col s12 m8 l6">
        <h5>{{ page.welcome }}</h5>
        <h2>{{ page.slogan }}</h2>

        <div id="navigation">
            <button class="w3-hover-opacity" (click)="changeSeachInput()">Search Account</button>
            <button class="w3-hover-opacity" (click)="gotoAddSite()">Add Account</button><br>
        
            <span [style.visibility]="page.searchInput"><input #filter id="filter" type="text" class="w3-input" placeholder="Insert domain name.."(keyup.enter)="SendFilter(filter.value)"></span>
        </div>
    </div>
    
    <!-- Footer -->
    <div id="footer">
        <p id="version">Version 5.3</p>
    </div>
</div>