#background{
    /* background: url("../../assets/images/headerBackground.jpg");
    background-repeat: no-repeat;
    background-size: auto; */
    background-size: auto 500px;
    
    color: white;
    /* Hide overflow on top */
    overflow: hidden;
    display: block;
    height: 500px;

    margin-bottom: 50px;
}
#background video{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#header{
    position: absolute;
    top: 0;
}
#content{
    position: absolute;
    top: 150px;
    padding-left: 80px;
}
#header button{
    background-color: transparent;
    
    font-size: 20px;
    color: white;

    border: none;
    float: right;
    cursor: pointer;
  }

#navigation button {
    color: white;
    background-color: Transparent;
    
    cursor:pointer;
    overflow: hidden;
  
    /* Border */
    border: 1px solid black;
    border-color: white;
  
    /* Spacing between buttons */
    margin-right: 10px;
    margin-bottom: 5px;
    
    /* Size */
    padding-left: 10px;
    padding-right: 10px;
    
    padding-top: 5px;
    padding-bottom: 5px;
}
#filter{
    background-color: Transparent;
    color: white;
    width: 300px;
}
#footer{
    position: absolute;
    top: 450px;
    right: 10px;    
}
@media only screen and (max-width: 700px){
    #background video{
        width: auto;
        height: 500px;
        /* transform: translateX(-20%); */
    }
    #content{
        padding-left: 30px;
    }
}