<!-- <div class="w3-padding">
  <h1>Account List</h1>

  <div class="w3-container w3-border">
    <dl>
      <dt>E-Mail</dt>
        <dd>jumpingdafinser@gmail.com</dd>
      <dt>Username</dt>
        <dd>Finz</dd>
      <dt>Password</dt>
        <dd>superduper123</dd>
      <dt>Other</dt>
        <dd>Pls don't hack</dd>
    </dl>
  </div>
  <div class="w3-container w3-border">
    <p>E-Mail: </p>
    <p>Username: </p>
    <p>Password: </p>
    <p>Other: </p>
  </div>
</div> -->




<!-- TODO: Design overhaul -->
<div class="w3-col s6 m3 l2 ">
  <div class="w3-margin w3-card w3-hover-shadow">
    <div class="w3-container w3-header w3-blue">
      <div class="">
        <h2 class="title">{{ page.title }}</h2>
      </div>
      <div class="" style="text-align: right; margin-right: 5px;">
        <p>8.5.2018</p>
      </div>
    </div>
    <div class="w3-container">
      <p><b>Username</b></p>
      <p>test</p>
    </div>
    <div class="w3-container w3-footer">
      <h4>{{ page.rating }}</h4>
    </div>
  </div>
</div>
