<div id="background">
  <!-- Row 1 - Header and Menu -->
  <div id="header" class="w3-row">
    <div class="w3-col s6 m6 l6 ">
      <h1>AccountBook v2.1</h1>
      <br><br>
    </div>
    <div class="w3-col s6 m6 l6">
      <button class="w3-hover-opacity" (click)="gotoStartsite()">Startsite ☰</button>
    </div>
  </div>

  <!-- Row 2 - Content and icons -->
  <div class="w3-row">
    <!-- Spacing to left -->
    <div class="w3-col s1 m1 l1">
      <p></p>
    </div>

    <!-- Introduction -->
    <div class="w3-col s6 m6 l6">
      <h5>Welcome to AccountBook</h5>

      <h2>
        We barely provide any data <br>
        and are the worlds smallest <br>
        account sharing website!
      </h2>

      <div id="navigation">
        <button class="w3-hover-opacity" (click)="changeSeachInput()">Search Account</button>
        <button class="w3-hover-opacity" (click)="gotoAddsite()">Add Account</button><br>

        <span [style.visibility]="page.searchInput"><input #filter id="filter" type="text" class="w3-input" placeholder="Insert domain name.."(keyup.enter)="SendFilter(filter.value)"></span>
      </div>
    </div>


    <div id="navDiv" class="w3-col s5 m5 l5">
      <p></p>
      <!-- Maybe add navigation images, not sure though -->
      <!-- <img src="/assets/images//icons/form_white.png" alt="Add_Account_Image"> -->
    </div>
  </div>
</div>
