/* Define standard color that might be of use later */
:root {
    --main-grey: #EEEFEF;
    --dark-grey: #C3C3C3;
    --darker-grey: #999898;
    --gold-pink: #F5C500;
}
/* Remove the white space on top of page */
/* Only works when the topmost element is h1 */
h1 {
  margin: 0;
  padding: 0;
}
/* No blue borders around objects on click */
button:focus,
select:focus,
textarea:focus,
input:focus {
    outline: none;
}
/* Hide the scrollbar on chrome */
::-webkit-scrollbar {
    display: none;
}

/* Define background color classes */
.dark-grey{
  background-color: var(--dark-grey);
}
.darker-grey{
  background-color: var(--darker-grey);
}

/* Standard background color should not be white */
body{
  background-color: var(--main-grey);

}
body *{
  font-family: 'Raleway', sans-serif;
}

/* Fix code to properly function throughout every component */
.title{
  text-align: center;

  /* DIV overflow fix */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Adds the ... */
}

.overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error{
  color: red;
  margin-left: 15px;
}

/* AccountList */
.userInfo {
  line-height: 15px;
}
.containerhight{
  height: 480px;
  position: relative;
}

#date{
  text-align: right;
  margin-right: 5px;
}
#rating{
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#rating button{
  cursor:pointer;
  width: 100%;
  background-color: transparent;
  /* border: none; */
  border-color: transparent;
  border-style: solid;
  height: 35px;
  font-size: 16px;
}
#rating h5{
  padding-left: 16px;
}
